.journal-add {
    padding: 10px;
    text-align: center;
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    justify-content: center;
}